h1{
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    height: 35px;
    width: 292px;
    left: 913px;
    top: 253px;
    border-radius: nullpx;




}
h3{
    height: 19px;
    
    left: 913px;
    top: 232px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D3748;




}
h4{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;



}



.container{
    
    display: flex;
    
    
    
}

.image{
    
    width: 720px;
    height: 899.82px;
 

}
#form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

    
   

}
input{
    height: 50px;
    width: 350px;
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 12px 20px;
    margin: -1px 0;
    box-sizing: border-box;

}
input[type="text"] {
    
    
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #2D3748;
}

.checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    

}
.checkbox h4 input{
    height: 15px;
    width: 15px;
    left: 0px;
    top: 199px;
    border-radius: 0px;

    

}

button{
    height: 50px;
    width: 347px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
button::after{
    background-color: #038c43;
}

#button1{
    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #04C45C;
    border-radius: 5px;
}
#button2{
    margin-top: 16px;
    height: 50px;
    width: 347px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    color: aliceblue;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* 800 */

    background: #2D3748;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #2C5282;

}


#registrationlink{
    margin-top: 100px;
    margin-left:45PX;
    text-align: center;

}






/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 768px;
    height: 760px;
    border-radius: 1px;
    margin: 0px;
  }





  .email_error{
    color: #ff7b67;
    display: none;
    
  }
   

  .pass_error{
    color: #fc8c76;
    display: none;
  }


